@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.hide {
  display: none;
}
.show {
  display: inline-block
}

.step {
  /* position: absolute; */
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.step.active {
  width: 100%;
  z-index: 1;
  display: block;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.form-control.invalid {
  border: 1px solid #ec2626;
  animation: shaking 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  transition: all 0.4s ease-in-out;
}

@keyframes shaking {
  10%,
  90% {
   transform: translate3d(-2px, 0, 0);
  }
  20%,
  80% {
   transform: translate3d(4px, 0, 0);
  }
  30%,
  50%,
  70% {
   transform: translate3d(-8px, 0, 0);
  }
  40%,
  60% {
   transform: translate3d(8px, 0, 0);
  }
}

.buscar-propriedade:focus {
  box-shadow: none;
}

.fa-user-circle {
  color: #1A6602;
  font-size: 40px;
}

.fa-search {
  color: #1A6602;
}

/* cabeçalho da tabela */
thead {
  background-color: #1A6602;
  font-family: 'Muli', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

thead th {
  color: white;
}

.main-title {
  font-family: 'Muli', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
}

.main-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: white;
  margin: 6px auto 8px auto;
}

.input-group-prepend span {
  background-color: #1A6602;
  color: white;
}

.title-form {
  font-family: 'Muli', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1A6602;
  text-transform: uppercase;
}

.panel-image {
  height: 160px !important;
  padding-top: 30px;
}

html, body {
  height: 100%;
  width: 100%;
}


.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-text h1 {
  font-family: 'Muli', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 450%;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.landing-text .btn {
  width: 370px;
  background-color: black;
  border-color: #1A6602;
  border-radius: 1.5em;
}

.landing-text .btn:hover {
  background-color: #1A6602;
}

@media (max-width: 767px) {
  .landing-text h1 {
    font-size: 400%;
  }
  .landing-text .btn {
    width: 320px;
    font-size: 1rem;
  }
  .main-title {
    font-size: 36px;
  }
}

@media (max-width: 560px) {
  .landing-text h1 {
    font-size: 350%;
  }
  .landing-text .btn {
    width: 300px;
    font-size: 0.9rem;
  }
  th, td {
    font-size: 0.7rem;
  }
}