{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block body %}
<section class="container-fluid p-0">
  <div class="panel-image w-100 h-100" style="background: url('{% static 'img/tractor3.png' %}') no-repeat center; background-size: cover">
    <h1 class="main-title mt-3 col-12 text-center">Alterar Propriedade</h1>
  </div>
</section>

<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="link-breadcrumb" href="{% url 'website:index' %}">Página Inicial</a></li>
              <li class="breadcrumb-item"><a class="link-breadcrumb" href="{% url 'website:lista_propriedades' %}">Lista de Propriedades</a></li>
              <li class="breadcrumb-item breadcrumb-active" aria-current="page">Alterar Propriedade</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-sm-3 p-1">
          <p class="card-text">
            Complete o formulário abaixo para alterar a Propriedade.
          </p>
          <form id="form-steps" method="post">
            {% csrf_token %}
            <div class="container">
              <div class="row">
                
                <div class="col-md-12">
                  <div class="indicators d-flex justify-content-around py-4 text-light">
                    <div class="rounded-circle bg-success px-2 shadow-sm mr-md-5 mr-4">1</div>
                    <div class="rounded-circle bg-success px-2 shadow-sm mr-md-5 mr-4">2</div>
                    <div class="rounded-circle bg-success px-2 shadow-sm mr-md-5 mr-4">3</div>
                    <div class="rounded-circle bg-success px-2 shadow-sm mr-md-5 mr-4">4</div>
                    <div class="rounded-circle bg-success px-2 shadow-sm">5</div>
                  </div>
                </div>
    
                <!-- Informações da Propriedade --> 
                <div class="step">
                  <h5 class="title-form text-center mt-md-4 mb-md-4">Especificações da propriedade</h5>
                  
                  <div class="row">
                    <!-- Nome do Produtor -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Nome do Produtor</span>
                      </div>
                      {% render_field form.nome_produtor class+="form-control" %}
                    </div>
    
                    <!-- Data -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Data</span>
                      </div>
                      {% render_field form.data class+="form-control" type="date" %}
                    </div>
    
                    <!-- Municipio -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Municipio</span>
                      </div>
                      {% render_field form.municipio class+="form-control" %}
                    </div>
    
                    <!-- Lote -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Lote</span>
                      </div>
                      {% render_field form.lote class+="form-control" %}
                    </div>
    
                    <!-- Area total -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Área total (ha)</span>
                      </div>
                      {% render_field form.area_total class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Talhao -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Talhão</span>
                      </div>
                      {% render_field form.talhao class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Area talhao -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Área Talhão (ha)</span>
                      </div>
                      {% render_field form.area_talhao class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Matrícula do Lote -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Matrícula do Lote</span>
                      </div>
                      {% render_field form.matricula_lote class+="form-control" %}
                    </div>
    
                    <!-- Textura do Solo -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Textura do Solo</span>
                      </div>
                      {% render_field form.text_solo class+="form-control" %}
                    </div>
    
                    <!-- Sistema de Cultivo -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Sistema de Cultivo</span>
                      </div>
                      {% render_field form.sist_cultivo class+="form-control" %}
                    </div>
    
                    <!-- Profundidade da Amostra -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Profundidade da Amostra (cm)</span>
                      </div>
                      {% render_field form.profundidade_amostras class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Resultado da ánalise de solos -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Resultado da análise de solos N°</span>
                      </div>
                      {% render_field form.resultado_analise class+="form-control" type="number" min="0" %}
                    </div>
                  </div>
                </div>
                <!-- END Informações da Propriedade -->
    
                <!-- Dados do Laudo Laboratorial -->
                <div class="step">
                  <h5 class="title-form text-center mt-md-4 mb-md-4">Dados do Laudo Laboratorial</h5>
                  
                  <div class="row">
                    <!-- Teor de Fósforo -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Fósforo (mg.dm³)</span>
                      </div>
                      {% render_field form.fosforo class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Teor de Potássio -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Potássio (cmol.dm³)</span>
                      </div>
                      {% render_field form.potassio class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Teor de Cálcio -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Cálcio (cmol.dm³)</span>
                      </div>
                      {% render_field form.calcio class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Teor de Magnésio -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Magnésio (cmol.dm³)</span>
                      </div>
                      {% render_field form.magnesio class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Teor de Enxofre -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Enxofre (mg.dm³)</span>
                      </div>
                      {% render_field form.enxofre class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Teor de Alumínio -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Alumínio (mg.dm³)</span>
                      </div>
                      {% render_field form.aluminio class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Teor de H+AL -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">H+AL (mg.dm³)</span>
                      </div>
                      {% render_field form.hal class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Matéria Orgânica -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Matéria Orgânica</span>
                      </div>
                      {% render_field form.materia_organica class+="form-control" type="number" min="0" %}
                    </div>
                  </div>
                </div>
                <!-- END Dados do Laudo Laboratorial -->        
    
                <!-- Correção/Recuperação de Fósforo -->
                <div class="step">
                  <h5 class="title-form text-center mt-md-4 mb-md-4">Dados para Correção/Recuperação de Fósforo</h5>
    
                  <div class="row">
                    <!-- Teor de Fósforo a atingir -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Teor de Fósforo a atingir (mg.dm³)</span>
                      </div>
                      {% render_field form.fosforo_atingir class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Fonte de Fósforo a utilizar -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Fonte de Fósforo</span>
                      </div>
                      {% render_field form.fonte_fosforo class+="form-control" %}
                    </div>
    
                    <!-- Eficiência do Fósforo -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Eficiência do Fósforo (%)</span>
                      </div>
                      {% render_field form.eficiencia_fosforo class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Valor/Ton. da fonte -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Valor/Ton. (R$)</span>
                      </div>
                      {% render_field form.valor_fosforo class+="form-control" type="number" min="0" %}
                    </div>

                    <hr>
    
                    <!--  -->
                    <div class="correcao-fosforo col-12 mb-2 text-center"></div>
                    <!--  -->
    
                    <!-- Quantidade a aplicar fósforo -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text label-resultado">Quantidade a aplicar (kg/ha)</span>
                      </div>
                      {% render_field form.aplicar_fosforo class+="form-control" type="number" %}
                    </div>
    
                    <!-- Custo (R$/ha) aplicação fósforo -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text label-resultado">Custo (R$/ha)</span>
                      </div>
                      {% render_field form.custo_fosforo class+="form-control" type="number" %}
                    </div>
                    
                  </div>
                </div>
                <!-- END Correção/Recuperação de Fósforo -->
    
                <!-- Correção/Recuperação de Potássio -->
                <div class="step">
                  <h5 class="title-form text-center mt-md-4 mb-md-4">Dados para Correção/Recuperação de Potássio</h5>
    
                  <div class="row">
                    <!-- Participação do Potássio na CTC desejada -->
                    <div class="input-group mb-3 col-lg-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Participação do Potássio na CTC desejada (%)</span>
                      </div>
                      {% render_field form.potassio_atingir class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Fonte de Potássio a utilizar -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Fonte de Potássio</span>
                      </div>
                      {% render_field form.fonte_potassio class+="form-control" %}
                    </div>
    
                    <!-- Valor/Ton. da fonte -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Valor/Ton. (R$)</span>
                      </div>
                      {% render_field form.valor_potassio class+="form-control" type="number" min="0" %}
                    </div>
                    
                    <hr>

                    <div class="correcao-potassio col-12 mb-2 text-center"></div>
    
                    <div class="input-group mb-3 col-lg-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text label-resultado">Participação atual do Potássio na CTC DO SOLO (%)</span>
                      </div>
                      {% render_field form.particip_potassio class+="form-control" type="number" %}
                    </div>
    
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text label-resultado">Quantidade a aplicar (kg/ha)</span>
                      </div>
                      {% render_field form.aplicar_potassio class+="form-control" type="number" %}
                    </div>
    
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text label-resultado">Custo (R$/ha)</span>
                      </div>
                      {% render_field form.custo_potassio class+="form-control" type="number" %}
                    </div>
    
                  </div>
                </div>
                <!-- END Correção/Recuperação de Potássio -->
    
                <!-- Correção/Recuperação de Cálcio e Magnésio -->
                <div class="step">
                  <h5 class="title-form text-center mt-md-4 mb-md-4">Dados para Correção/Recuperação de Cálcio e Magnésio</h5>
    
                  <div class="row">
                    <!-- % de participação do Cálcio na CTC desejada -->
                    <div class="input-group mb-3 col-lg-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Participação do Cálcio na CTC desejada (%)</span>
                      </div>
                      {% render_field form.calcio_atingir class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Fonte de Corretivo a utilizar -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Fonte de Corretivo</span>
                      </div>
                      {% render_field form.fonte_calmag class+="form-control" %}
                    </div>
    
                    <!-- PRNT -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">PRNT (%)</span>
                      </div>
                      {% render_field form.prnt class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Teor de CaO do corretivo -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Teor de CaO do corretivo (%)</span>
                      </div>
                      {% render_field form.cao_corretivo class+="form-control" type="number" min="0" %}
                    </div>
    
                    <!-- Valor/Ton. da fonte -->
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Valor/Ton. (R$)</span>
                      </div>
                      {% render_field form.valor_calmag class+="form-control" type="number" min="0" %}
                    </div>

                    <hr>
    
                    <div class="correcao-calmag col-12 mb-2 text-center"></div>
    
                    <div class="input-group mb-3 col-lg-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text label-resultado">Participação atual do Cálcio na CTC (%)</span>
                      </div>
                      {% render_field form.particip_calc class+="form-control" type="number" %}
                    </div>
    
                    <div class="input-group mb-3 col-lg-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text label-resultado">Participação atual do Magnésio na CTC (%)</span>
                      </div>
                      {% render_field form.particip_magnes class+="form-control" type="number" %}
                    </div>
    
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text label-resultado">Quantidade a aplicar (Ton/ha)</span>
                      </div>
                      {% render_field form.aplicar_calmag class+="form-control" type="number" %}
                    </div>
    
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text label-resultado">Custo (R$/ha)</span>
                      </div>
                      {% render_field form.custo_calmag class+="form-control" type="number" %}
                    </div>
                  </div>
                </div>
                <!-- END Correção/Recuperação de Cálcio e Magnésio -->
    
                <hr>
                <div class="col-md-12 text-right pr-0">
                  <a href="{% url 'website:lista_propriedades' %}" class="btn btn-outline-warning">Cancelar</a>
                  <button type="button" class="btnPrev btn btn-outline-success">Anterior</button>
                  <button type="button" class="btnNext btn btn-outline-success">Próximo</button>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascript %}
<script src="{% static "js/form-steps.js" %}"></script>
<script src="{% static "js/calc-fosforo.js" %}"></script>
<script src="{% static "js/calc-potassio.js" %}"></script>
<script src="{% static "js/calc-calcio-magnesio.js" %}"></script>
{% endblock %}