{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  {% block extrastyle %} 
  {% endblock %}
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <title>EMATER</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><a href="/logout">Logout</a></li>
      </ul>
      <a href="{% url 'website:index' %}"><img src="#" alt="EMATER"></a>
    </div>
    <div class="row content">
      {% block body %}
      {% endblock %}
    </div>
  </div>
  
  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  {% block extrascript %}
  {% endblock %}
</body>
</html>