{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block body %}
<section class="container-fluid p-0">
  <div class="panel-image w-100 h-100" style="background: url('{% static 'img/tractor.jpg' %}') no-repeat center; background-size: cover">
    <h1 class="main-title mt-3 col-12 text-center">Cadastro de Propriedade</h1>
  </div>
</section>

<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Complete o formulário abaixo para cadastrar uma nova Propriedade.
          </p>
          <form id="form-steps" method="post">
            {% csrf_token %}
            <div class="container">
              <div class="row">
                
                <div class="col-md-12">
                  <div class="indicators d-flex justify-content-around py-4 text-light">
                    <div class="rounded-circle bg-secondary px-2 shadow-sm mr-5">1</div>
                    <div class="rounded-circle bg-secondary px-2 shadow-sm mr-5">2</div>
                    <div class="rounded-circle bg-secondary px-2 shadow-sm mr-5">3</div>
                    <div class="rounded-circle bg-secondary px-2 shadow-sm mr-5">4</div>
                    <div class="rounded-circle bg-secondary px-2 shadow-sm">5</div>
                  </div>
                </div>

                <!-- Informações da Propriedade --> 
                <div class="step">
                  <h5 class="title-form text-center mt-4 mb-4">Especificações da propriedade</h5>
                  <!-- Nome do Produtor -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Nome do Produtor</span>
                    </div>
                    {% render_field form.nome_produtor class+="form-control" %}
                  </div>

                  <!-- Data -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Data</span>
                    </div>
                    {% render_field form.data class+="form-control" %}
                  </div>

                  <!-- Municipio -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Municipio</span>
                    </div>
                    {% render_field form.municipio class+="form-control" %}
                  </div>

                  <!-- Lote -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Lote</span>
                    </div>
                    {% render_field form.lote class+="form-control" %}
                  </div>

                  <!-- Area total -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Área total</span>
                    </div>
                    {% render_field form.area_total class+="form-control" %}
                  </div>

                  <!-- Talhao -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Talhão</span>
                    </div>
                    {% render_field form.talhao class+="form-control" %}
                  </div>

                  <!-- Area talhao -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Área Talhão</span>
                    </div>
                    {% render_field form.area_talhao class+="form-control" %}
                  </div>

                  <!-- Matrícula do Lote -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Matrícula do Lote</span>
                    </div>
                    {% render_field form.matricula_lote class+="form-control" %}
                  </div>

                  <!-- Textura do Solo -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Textura do Solo</span>
                    </div>
                    {% render_field form.text_solo class+="form-control" %}
                  </div>

                  <!-- Sistema de Cultivo -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Sistema de Cultivo</span>
                    </div>
                    {% render_field form.sist_cultivo class+="form-control" %}
                  </div>

                  <!-- Profundidade da Amostra -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Profundidade da Amostra de Solos</span>
                    </div>
                    {% render_field form.profundidade_amostras class+="form-control" %}
                  </div>

                  <!-- Resultado da ánalise de solos -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Resultado da análise de solos N°</span>
                    </div>
                    {% render_field form.resultado_analise class+="form-control" %}
                  </div>

                </div>
                <!-- END Informações da Propriedade -->
    

                <!-- Dados do Laudo Laboratorial -->
                <div class="step">
                  <h5 class="title-form text-center mt-4 mb-4">Dados do Laudo Laboratorial</h5>
                  <!-- Teor de Fósforo -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Fósforo</span>
                    </div>
                    {% render_field form.fosforo class+="form-control" %}
                  </div>

                  <!-- Teor de Potássio -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Potássio</span>
                    </div>
                    {% render_field form.potassio class+="form-control" %}
                  </div>

                  <!-- Teor de Cálcio -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Cálcio</span>
                    </div>
                    {% render_field form.calcio class+="form-control" %}
                  </div>

                  <!-- Teor de Magnésio -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Magnésio</span>
                    </div>
                    {% render_field form.magnesio class+="form-control" %}
                  </div>

                  <!-- Teor de Enxofre -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Enxofre</span>
                    </div>
                    {% render_field form.enxofre class+="form-control" %}
                  </div>

                  <!-- Teor de Alumínio -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Alumínio</span>
                    </div>
                    {% render_field form.aluminio class+="form-control" %}
                  </div>

                  <!-- Teor de H+AL -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">H+AL</span>
                    </div>
                    {% render_field form.hal class+="form-control" %}
                  </div>

                  <!-- Matéria Orgânica -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Matéria Orgânica</span>
                    </div>
                    {% render_field form.materia_organica class+="form-control" %}
                  </div>

                </div>
                <!-- END Dados do Laudo Laboratorial -->        

                <!-- Correção/Recuperação de Fósforo -->
                <div class="step">
                  <h5 class="title-form text-center mt-4 mb-4">Dados para Correção/Recuperação de Fósforo</h5>
                  <!-- Teor de Fósforo a atingir -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Teor de Fósforo a atingir</span>
                    </div>
                    {% render_field form.fosforo_atingir class+="form-control" %}
                  </div>

                  <!-- Fonte de Fósforo a utilizar -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Fonte de Fósforo</span>
                    </div>
                    {% render_field form.fonte_fosforo class+="form-control" %}
                  </div>

                  <!-- Eficiência do Fósforo -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Eficiência do Fósforo</span>
                    </div>
                    {% render_field form.eficiencia_fosforo class+="form-control" %}
                  </div>

                  <!-- Valor/Ton. da fonte -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Valor/Ton. (R$)</span>
                    </div>
                    {% render_field form.valor_fosforo class+="form-control" %}
                  </div>

                  <div class="correcao-fosforo"></div>
                </div>
                <!-- END Correção/Recuperação de Fósforo -->

                <!-- Correção/Recuperação de Potássio -->
                <div class="step">
                  <h5 class="title-form text-center mt-4 mb-4">Dados para Correção/Recuperação de Potássio</h5>
                  <!-- Participação do Potássio na CTC desejada -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Participação do Potássio na CTC desejada</span>
                    </div>
                    {% render_field form.potassio_atingir class+="form-control" %}
                  </div>

                  <!-- Fonte de Potássio a utilizar -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Fonte de Potássio</span>
                    </div>
                    {% render_field form.fonte_potassio class+="form-control" %}
                  </div>

                  <!-- Valor/Ton. da fonte -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Valor/Ton. (R$)</span>
                    </div>
                    {% render_field form.valor_potassio class+="form-control" %}
                  </div>

                  <div class="correcao-potassio"></div>
                </div>
                <!-- END Correção/Recuperação de Potássio -->

                <!-- Correção/Recuperação de Cálcio e Magnésio -->
                <div class="step">
                  <h5 class="title-form text-center mt-4 mb-4">Dados para Correção/Recuperação de Cálcio e Magnésio</h5>
                  <!-- % de participação do Cálcio na CTC desejada -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Participação do Cálcio na CTC desejada</span>
                    </div>
                    {% render_field form.calcio_atingir class+="form-control" %}
                  </div>

                  <!-- Fonte de Corretivo a utilizar -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Fonte de Corretivo</span>
                    </div>
                    {% render_field form.fonte_calmag class+="form-control" %}
                  </div>

                  <!-- PRNT -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">PRNT                 </div>
                    {% render_field form.prnt class+="form-control" %}
                  </div>

                  <!-- Teor de CaO do corretivo -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Teor de CaO do corretivo</span>
                    </div>
                    {% render_field form.cao_corretivo class+="form-control" %}
                  </div>

                  <!-- Valor/Ton. da fonte -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Valor/Ton. (R$)</span>
                    </div>
                    {% render_field form.valor_calmag class+="form-control" %}
                  </div>

                  <div class="correcao-calmag"></div>
                </div>
                <!-- END Correção/Recuperação de Cálcio e Magnésio -->

                <hr>
                <div class="col-md-12 text-right">
                  <a href="{% url 'website:lista_propriedades' %}" class="btn btn-outline-warning">Cancelar</a>
                  <button type="button" class="btnPrev btn btn-outline-success">Anterior</button>
                  <button type="button" class="btnNext btn btn-outline-success">Próximo</button>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascript %}
  <script src="{% static "js/script.js" %}"></script>
{% endblock %}
