{% extends "base.html" %}

{% load widget_tweaks %}

{% block body %}

<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-sm-3 p-1">

                    <h2 class="details-main mb-0">Nome do produtor: {{ propriedade.nome_produtor }}</h2>
                    <span>Data: {{ propriedade.data }}</span>
        
                    <h5 class="title-details mt-md-4 mt-3">Correção/Recuperação de Fósforo</h5>
            
                    <div class="row">
                        <div class="input-group mb-3 col-md-6 ml-0">
                            <div class="input-group-prepend">
                            <span class="input-group-text label-resultado">Quantidade a aplicar</span>
                            </div>
                            <input type="text" value="{{ propriedade.aplicar_fosforo }} kg/ha" class="form-control">
                        </div>

                        <div class="input-group mb-3 col-md-6">
                            <div class="input-group-prepend">
                            <span class="input-group-text label-resultado">Custo</span>
                            </div>
                            <input type="text" value="R$ {{ propriedade.custo_fosforo }} / ha" class="form-control">
                        </div>      
                    </div>

                    <h5 class="title-details mt-3">Correção/Recuperação de Potássio</h5>
                
                    <div class="row">
                        <div class="input-group mb-3 col-md-6 ml-0">
                            <div class="input-group-prepend">
                            <span class="input-group-text label-resultado">Quantidade a aplicar</span>
                            </div>
                            <input type="text" value="{{ propriedade.aplicar_potassio }} kg/ha" class="form-control">
                        </div>

                        <div class="input-group mb-3 col-md-6">
                            <div class="input-group-prepend">
                            <span class="input-group-text label-resultado">Custo</span>
                            </div>
                            <input type="text" value="R$ {{ propriedade.custo_potassio }} / ha" class="form-control">
                        </div>      
                    </div>

                    <h5 class="title-details mt-3">Correção/Recuperação de Cálcio e Magnésio</h5>
                
                    <div class="row">
                        <div class="input-group mb-3 col-md-6 ml-0">
                            <div class="input-group-prepend">
                            <span class="input-group-text label-resultado">Quantidade a aplicar</span>
                            </div>
                            <input type="text" value="{{ propriedade.aplicar_calmag }} ton/ha" class="form-control">
                        </div>

                        <div class="input-group mb-3 col-md-6">
                            <div class="input-group-prepend">
                            <span class="input-group-text label-resultado">Custo</span>
                            </div>
                            <input type="text" value="R$ {{ propriedade.custo_calmag }} / ha" class="form-control">
                        </div>      
                    </div>         
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
