{% extends "base.html" %}

{% block body %}
<div class="container mt-3">
  <div class="card">
    <div class="card-body text-center">
      <h4 class="card-title" style="color: #1A6602">Exclusão de Propriedade</h4>

      <p class="card-text">
        Excluir o cadastro do produtor <b>{{ propriedade.nome_produtor }}</b> realizado em <b>{{ propriedade.data }}</b>?
      </p>

      <form method="post">
        {% csrf_token %}

        <hr />
        <div class="text-center">
          <a href="{% url 'website:lista_propriedades' %}" class="btn btn-outline-danger">
            Cancelar
          </a>
          <button class="btn btn-danger">Excluir</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}