{% extends "base.html" %}

{% load staticfiles %}

{% block body %}
<section class="container-fluid p-0">
  <div class="panel-image w-100 h-100" style="background: url('{% static 'img/list.jpg' %}') no-repeat center; background-size: cover">
    <h1 class="main-title mt-3 col-12 text-center">Lista de Propriedades</h1>
  </div>
</section>

<div class="container mt-3 mb-5">
  <div class="row">
    {% if propriedades|length > 0 %}
    <div class="input-group border rounded-pill p-1 mb-4">
      <input type="text" placeholder="Digite o nome do produtor..." aria-describedby="button-addon" class="form-control border-0 buscar-propriedade">
      <div class="input-group-append border-0">
        <button id="button-addon" type="button" class="btn btn-link"><i class="fa fa-search"></i></button>
      </div>
    </div>
    
    <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr class="text-center">
              <th scope="col">Nome do Produtor</th>
              <th scope="col">Data</th>
              <th scope="col" class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
          {% for propriedade in propriedades %}
            <tr class="propriedade text-center">
              <td class="nome-list">{{ propriedade.nome_produtor }}</td>
              <td>{{ propriedade.data }}</td>
              <td class="text-center">
                  <a href="{% url 'website:detalhe_propriedade' pk=propriedade.id %}" class="btn btn-outline-success btn-sm pl-sm-1 mt-1">
                      Teste
                    </a>
                <a href="{% url 'website:atualiza_propriedade' pk=propriedade.id %}" class="btn btn-outline-success btn-sm pl-sm-1 mt-1">
                  Atualizar
                </a>
                <a href="{% url 'website:deleta_propriedade' pk=propriedade.id %}" class="btn btn-outline-danger btn-sm mt-1">
                  Excluir
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    {% else %}
      <div class="col-12 text-center mt-5 mb-5 jumbotron">
        <h5>Nenhuma <code>Propriedade</code> cadastrada ainda.</h5>
      </div>
    {% endif %}

      <!-- <div class="text-center">
        <a href="{% url 'website:cadastra_propriedade' %}" class="btn btn-dark btn-cadastrar p-3">
          Cadastrar Nova Propriedade
        </a>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}

{% block extrascript %}
  <script src="{% static "js/filtra.js" %}"></script>
{% endblock %}